@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Global toolbar layout for the top navigation */
app-top-nav mat-toolbar {
  display: flex;
  align-items: center;
}

app-top-nav .topnav-title {
  margin-right: 8px;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

app-root {
  display: block;
}

.app-shell {
  display: grid;
  grid-template-columns: 1fr 360px;
  min-height: 100vh;
}

.content {
  padding: 16px;
}

.sidebar {
  border-left: 1px solid #eee;
}
